{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Criar Conta
{% endblock %}

{% block content %}
<header class="min-h-screen bg-black/70 bg-blend-overlay showcase border-b-8 border-gray-700 flex justify-center items-center bg-no-repeat bg-cover"
        style="background-image: url('{% static 'images/background_netflix.jpg' %}');">

    <div class="z-10 w-full max-w-md px-6 py-10 bg-black/80 rounded-xl text-gray-100 shadow-xl">
        <h2 class="text-3xl font-semibold text-center mb-6">Criar Conta</h2>

        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="bg-red-600 hover:bg-red-700 py-2 mt-2 px-4 w-full text-white text-lg rounded-md transition">
                Criar Conta
            </button>
        </form>

        <p class="text-gray-300 text-sm mt-6 text-center">
            Já possui conta?
            <a href="{% url 'filme:login' %}" class="text-red-500 hover:underline">
                Fazer login
            </a>
        </p>
    </div>

</header>
{% endblock %}
